/* General Styles */
body {
    background-color: #ffe4e1; /* Rosa claro */
    font-family: 'Baloo Tamma 2', cursive;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.encabezado {
    background-color: #ffb6c1; /* Fondo rosa */
    padding: 30px;
    text-align: center;
    border-bottom: 5px solid #ff69b4;
}

.encabezado h1 {
    color: white;
    font-size: 3rem;
}

/* Menú de navegación */
.menu-navegacion {
    background-color: #ffebcd;
    padding: 15px;
    border-bottom: 3px solid #ff69b4;
    text-align: center;
}

.menu-navegacion ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-navegacion ul li {
    display: inline;
    margin-right: 15px;
}

.menu-navegacion ul li a {
    text-decoration: none;
    color: #ff69b4;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

.menu-navegacion ul li a:hover {
    border-bottom: 2px solid #ff69b4;
}

/* Secciones */
.seccion {
    background-color: #fff0f5;
    border: 2px dashed #ff69b4;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 10%;
}

.seccion h2 {
    color: #ff69b4;
    font-size: 2rem;
    text-align: center;
}

.contenido-seccion p, .contenido-seccion ul {
    font-size: 1.1rem;
    color: #333;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Pie de página */
.pie-pagina {
    background-color: #ffb6c1;
    padding: 10px;
    text-align: center;
    color: white;
    border-top: 5px solid #ff69b4;
    font-size: 1rem;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .menu-navegacion ul li {
        display: block;
        margin: 10px 0;
    }

    .seccion {
        margin: 20px 5%;
    }
}
